footer { display: block; color: #fff; }
menu,ol,ul { padding: 0 0 0 40px; }
footer {position: fixed;bottom:0;width:100%;height:76px;
	background:#000 url('footer.png') no-repeat center 38px; text-align: center;}
footer ul {margin:0.5em 0;}
footer li {display: inline;margin:0 20px;font-size:10px;text-transform: uppercase;}
footer li a {color:#fff;text-decoration: none;}
footer li a:hover {color:#ccc;}