html {
    -webkit-text-size-adjust: auto;
    -ms-text-size-adjust: auto;
    width: 100%;
}
body{
    width: 100%;
}

.icon{
    display: inline-block;
    width:38px;
    height: 30px;
    background-size:38px 30px ;
}

.icon-arrow{
    background-image: url(../img/icons/icon_arrow.png);
}

.icon-email{
    background-image: url(../img/icons/icon_email.png);
}

.icon-facebook{
    background-image: url(../img/icons/icon_facebook.png);
}

.icon-music{
    background-image: url(../img/icons/icon_music.png);
}

.icon-shopping{
    background-image: url(../img/icons/icon_shopping.png);
}

.icon-twitter{
    background-image: url(../img/icons/icon_twitter.png);
}

.icon-seperator{
    background-image: url(../img/icons/icon_seperator.png);
}

.bg{
    width: 400px;
    height: 40px;
    background-color: #000;
}

.pull-left{
    float:left
}

.pull-right{
    float:right
}

.clear-fix{
    clear: both;
}

.welcome{
    padding:0;
    margin:0;
    width:100%;
    height: 100%;
}

.welcome>.page1{
    width: 100%;
    height: 100%;
    background-image:url("../img/welcome_bg.jpg") ;
    background-repeat: no-repeat;
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    margin:0;
    margin-top: 50px;
    border: 0;
    padding:0;
}

.welcome>.page1>.content{
    width: 45%;
    color:#ffffff;
    padding-top: 300px;
    padding-left: 100px;
}



#welcome_page{
    width: 100%;
    position: absolute;
    z-index:100;
    text-transform: uppercase;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}

.mobile #welcome_page img{
    width: 60%;
}

#welcome_page a{
    color:#fff;
    text-decoration: none;
}

#welcome_page>.left{
    width: 50%;
    float:left;
}
#welcome_page>.right{
    float:right;
}

#welcome_page>.bottom{
    color: #fff;
    text-align: center;
    font-size: 25px;
}

#welcome_page>.left>.container{
    margin-left:10%;
}

#welcome_page>.right>.container{
    margin-top:40px;
    margin-left:-30%;
}

#welcome_page>.right>.container>.first{
     width: 250px;
    height: 40px;
    padding-top: 5px;
     background-color: #000000;
 }

#welcome_page>.right>.container>.second{
    width: 250px;
    background-color: #000000;
}

#welcome_page>.left a,#welcome_page>.right a{
    text-decoration: none;
    text-transform: uppercase;
}

#welcome_page>.right>.container>.first a{
    width: 140px;
    text-align: center;
    margin-left:10px;
}

#welcome_page>.right>.container>.second{
    margin-top: 20px;
}

#welcome_page>.right>.container>.second a{
    margin-left:40px;
    position: relative;
    top:-5px;
}

#welcome_page_bottom{
    position: fixed;
    z-index: 100;
    bottom: 70px;
    width: 100%;
    color:#fff;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}

.mobile .end_frame .end_list_wrap{
    width: auto;
    bottom: 15%;
}

.mobile_end_list_wrap .first{
    background-color: #000;
}

.mobile_end_list_wrap .icon-facebook{
    margin-left:20px;
}
.mobile_end_list_wrap .second{
    background-color: #000;
    margin-top:20px;
}

.mobile_end_list_wrap .second a{
    margin-left: 25px;
    position: relative;
    top: -5px;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.mobile_end_list_wrap .icon-arrow{
    position: relative;
    top:5px;
}

.end_frame_mobile{
    background-size: auto 100%;
    background-image: url('../../PICS/end_mobile.jpg');
    background-repeat: no-repeat;
}

.mobile .end_title{
    top:0;
}


.video-con {
    position: relative;
    overflow: hidden;
    z-index:111;
}

.video-con #video {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
}

.video-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 100;
}

.hideme {
    display: none;
}

.youtube-con {
    position: relative;
    z-index: 1111;
}